.div1{
    width: 300px;
    height: 300px;
    background-color:blue;
    box-shadow: 10px 10px 20px black;
}

.div2{
    width: 300px;
    height: 300px;
    background-color:blue;
    box-shadow: 10px 10px 0px black;
}

h1{
    color:white;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
}