.child{
    width: 100px;
    height: 100px;
    background-color:blue;
    margin: 6px;
    color: white;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.parent{
    /* height: 800px; */
    border: 2px solid black;
    display: flex;
   
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    flex-direction: row;

    /* justify-content:  center; */
    /* justify-content: flex-end; */
    /* justify-content:  end; */
    justify-content:  space-between;
    
    flex-wrap:wrap;
}