@import url("https://fonts.googleapis.com/css2?family=Lacquer&display=swap");


h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    /* text-transform: uppercase; */
    text-align: center;
}

p{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2px;
    word-spacing:2px;
    text-align: center;
    text-decoration: wavy;
}

a{
color: green;
}

h2{
    font-family: Lacquer;
    font-size: 40px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-color: grey;
}

h3{
    font-family: Lacquer;
    font-size: 30px;
    border-left: 6px solid red;
}

h4{
    font-family: Lacquer;
    font-size: 20px;
    border-bottom: 6px solid pink;
}

h5{
    font-family: Lacquer;
    font-size: 18px;
    border-left: 6px solid red;
    border-right: 6px solid green;
    border-top: 6px solid blue;
    border-bottom: 6px solid black;
}

div{
    border: 2px solid red;
    padding: 10px;
    margin: 20px;
}


section{
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 20px;
}
article{
    background-image: url("https://plus.unsplash.com/premium_photo-1675695700239-44153e6bf430?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    padding: 20px;
    background-attachment: scroll;
}

