div{
    background-image: linear-gradient(rgba(0, 0, 255, 0.205), rgba(0, 128, 0, 0.616)),url("https://cdn.pixabay.com/photo/2017/06/14/08/20/map-of-the-world-2401458_1280.jpg");
    height: 100vh;
}