.parent{
    display: grid;
    height: 100vh;
    padding: 20px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}

.child{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;

    /* height: 100px; */
    /* width:100px; */
    /* margin: 10px; */
}

.expand2{
    grid-column-start: 1;
    grid-column-end: 3;
}